* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  background-color: lightgray;
}
body, html {
  min-width: 360px;
  width: auto;
  margin: 0;
  text-align: center;
}
div.video-box {   // These are for results of query
	width: 100px;
}
div.js-search-results {
	width: 150px;
}
header {
  border-radius: 6px;
  position: static;
  margin: 0px auto;
  background-color: #A81A2B;
  width: 90%;
  height: 100px;
  float: center;
}
img.headerimg {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  height: 50px;
  width: 50px;
  margin: 0;
  vertical-align: middle;
}
h1.header {
  margin: 0px auto;
  padding: 0px 0px 5px 0px;
  font-family: 'Coiny', cursive;
  font-size: 32px;
  color: white;
  width: 250px;
  display: inline-block;
}
h3.header {
  margin: 0px auto;
  padding: 0px 0px 5px 0px;
  color: white;
  font-size: 14px;
  font-family: cursive;
  font-style: italic;
  width: 200px;
}
.envelope {
  text-align: center;
}
fieldset {
  border-radius: 8px;
}
form.js-search-form {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  min-width: 325px;
  width: 70%;
}
input {
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 15px;
}
.textform  {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 30px;
}
.dropdown {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
  padding-left: 30px;
}
.thirdtext {
  width: 33.3%;
  height: 35px;
  margin-left: 8px;
  margin-top: 9px;
  float: right;
  padding-left: 30px;
}
.latestvideo {
  margin-right: 70px;
  float: right;
  font-family: sans-serif;
  color: gray;
}
.halftext {
  margin-left: 8px;
  margin-top: 9px;
  width: 45%;
  height: 35px;
  padding-left: 30px;
}
.textform2 {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  padding-left: 30px;
}
.labeltext {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: gray;
}
button {
  border-radius: 6px;
  width: 200px;
  margin-top: 15px;
  background-color: #A81A2B;
  color: white;
  border: none;
  text-align: center;
  font-size: 25px;
  font-family: "Coiny";
}
